<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add layout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div th:insert="parts/navigation :: nav" ></div>

<div class="container mt-5">
    <div>
        <form method="post" action="/add"  >
            <div class="form-group">
                <label for="inputName">Layout name</label>
                <input type="text" name="name" class="form-control" id="inputName" placeholder="Layout name" required>
            </div>
            <div class="form-group">
                <label for="inputCoordinates">Coordinates:</label>
                <input type="text" name="coordinates" class="form-control" id="inputCoordinates"
                       aria-describedby="coordinatesHelp" placeholder="Coordinates" required>
                <small id="coordinatesHelp" class="form-text text-muted">Example: "1 1,1 2,2 2,2 1"</small>
            </div>
            <button type="submit" class="btn btn-primary">Add layout</button>
        </form>

        <h6>Examples of coordinates(just copy):</h6>
        <h6>'1 1,1 3,2 3,2 4,3 4,3 1'</h6>
        <h6>'1 1,1 3,2 3,2 2,3 2,3 3,4 3,4 1'</h6>
        <h6>'2 2,2 4,5 4,5 7,7 7,7 5,9 5,9 2'</h6>

    </div>
</div>
</body>
</html>