<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add layout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div th:insert="parts/navigation :: nav"></div>

<div>
    <form method="post" action="/add">
        <p>Введите название макета:</p>
        <input type="text" name="name" required placeholder="Название макета"/>
        <p>Введите координаты макета через кому(пример: 1 1, 1 2, 2 2, 2 1):</p>
        <input type="text" name="coordinates" required placeholder="Координаты макета"/>
        <button type="submit">Добавить макет</button>
    </form>
</div>

</body>
</html>