<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<a href="/add">Добавить макет</a>

<div>Список макетов</div>

<table>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Coordinates</th>
        <th scope="col">View</th>
    </tr>
    <tbody>
    <tr th:each="l : ${layouts}">
        <td th:text="${l.id}"></td>
        <td th:text="${l.name}"></td>
        <td th:text="${l.coordinates}"></td>
        <td>
            <a th:href="@{'/show?id=' + ${l.id}}">
                <span>Show</span>
            </a>
        </td>
    </tr>
    </tbody>
    </thead>
</table>

<canvas id="myCanvas" width="200" height="200" style="border:1px solid #000000;">
</canvas>

<script th:inline="javascript">
    var x = [[${js}]];

    var c = document.getElementById("myCanvas");
    var ctx = c.getContext ("2d");
    ctx.moveTo (50, 50);
    ctx.lineTo (50, 100);
    ctx.lineTo (100, 100);
    ctx.lineTo (100, 50);
    ctx.lineTo (50, 50);
    ctx.strokeStyle = "blue";
    ctx.stroke();
    ctx.font = "10px Arial";
    ctx.fillText(x,20,50);


</script>
</body>
</html>