<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<a href="/add">Добавить макет</a>

<div>Список макетов</div>

<table>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Coordinates</th>
        <th scope="col">View</th>
        <th scope="col">Action</th>
    </tr>
    <tbody>
    <tr th:each="l : ${layouts}">
        <td th:text="${l.id}"></td>
        <td th:text="${l.name}"></td>
        <td th:text="${l.coordinates}"></td>
        <td>
            <a th:href="@{'/show?id=' + ${l.id}}">
                <span>Show</span>
            </a>
        </td>
        <td>
            <a th:href="@{'/delete?id=' + ${l.id}}">
                <span>Delete</span>
            </a>
        </td>
    </tr>
    </tbody>
    </thead>
</table>

</body>
</html>