<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update layout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div th:insert="parts/navigation :: nav"></div>

<div>
    <form method="post" action="/update">
        <input type="text" name="id" th:value="${layout.id}" hidden>
        <input type="text" name="name" th:value="${layout.name}" placeholder="Layout name"/>
        <input type="text" name="coordinates" th:value="${layout.coordinates}" placeholder="New coordinates"/>
        <button type="submit">Update book</button>
    </form>
</div>

</body>
</html>